@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
/*
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, img, ins, small, strike, strong, sub, sup, center, 
form, label, legend, table, caption,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}
*/

.nav {
	display: flex;
	justify-content: space-between;
}

.nav-buttons {
	flex: 1;
	align-self: flex-end;
}
body {
	
	margin: 50px 8vw;
	
}

body, input, select, textarea {
    color: #585858;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.75;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color:#999;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}
li a:hover {
	color: #000;
}

/* Wrapper */
	#wrapper > * > .inner {
		width: 100%;
		max-width: 68em;
		margin: 0 auto;
		padding: 0 2.5em;
	}

		@media screen and (max-width: 736px) {

			#wrapper > * > .inner {
				padding: 0 1.25em;
			}

		}
	.title {
		font-size:20pt
	}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: -2vw -2vw;
}

.card, .overlay, .img {
	border-radius: 1.5vw;
}

.card {
	flex: 1;
	flex-basis: 30vw;
	
	transition: 0.4s;
	position:relative;
	background-color:#000;
	border-radius: 1.5vw;
	margin: 2vw 2vw;
}

img {
	display:block;
	width:100%;
	height:auto;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover .overlay{
	opacity:0.4;
}

.overlay, .overlay-title, .overlay-text {
	opacity: 0;
	transition: .3s ease;
	position: absolute;
}
.overlay {
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: #000;
	margin: 0px;
}

.card:hover .overlay-title{
	opacity:1;
	top: 40%;
}

.overlay-title{
	width:80%;
	color:white;
	font-size: 50px;
	font-weight: bold;
	left: 50%;
	top:20%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align:center;
	vertical-align:top;
}

.card:hover .overlay-text {
	opacity: 1;
	top: 55%;
}

.overlay-text{
	width:80%;
	transition: .5s ease;
	color:#CCC;
	font-size: 24px;
	top:90%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
