@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/*
html, body, div, span, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, img, ins, small, strike, strong, sub, sup, center, 
form, label, legend, table, caption,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}
*/
a {
	text-decoration: none;
	color: #363636;
	transition: 0.2s;
}

button {
	color: none;
	background-color: none;
	padding: 0px;
}
.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
	padding-bottom: 1.5vw
}

.nav-item {
	text-decoration: none;
	font-size: 25px;
}

.nav-button {
	color:#999;
	padding: 1% 3%;
	text-align: center;
}

.nav-button:hover {
	color: #000;
}

.title {
	font-family: "Poppins", Helvetica, sans-serif;
	font-weight: 500;
	color: #222;
}

.name-logo {
	padding-right: 3vw;
	font-size:40px;
}

@media screen and (max-width: 800px) {
	body {
		margin: 20px 6vw !important;
	}
}

body {
	margin: 20px 12vw;
}

body, input, select, textarea {
    color: #363636;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.text-block {
	font-size: 20px;
	font-weight: regular;
	line-height: 1.5;
}

/* Wrapper */
	#wrapper > * > .inner {
		width: 100%;
		max-width: 68em;
		margin: 0 auto;
		padding: 0 2.5em;
	}
		@media screen and (max-width: 736px) {
			#wrapper > * > .inner {
				padding: 0 1.25em;
			}
		}
	
.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -2vw -2vw;
}

.card, .overlay, .img {
	border-radius: 7% / 11%;
}

.card {
	position: relative;
	flex: 1;
	flex-basis: 400px;
	margin: 2vh 2vw;
	transition: 1s;
}

.img-container {
	display: block;
	width: 100%;
	padding-top: 66.6666%;
}

.img {
	position: absolute;
	top: 0;
	width: 100%;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.card:hover .overlay{
	opacity:0.8;
}

.overlay, .overlay-title, .overlay-text {
	opacity: 0;
	transition: .3s ease;
	position: absolute;
}

.overlay {
	top:0;
	left:0;
	height:100%;
	width:100%;
	margin: 0px;
}
.overlay-blue {
	background-color: rgb(21, 161, 204);
}
.overlay-orange {
	background-color: rgb(236, 130, 10);
}
.overlay-black {
	background-color:rgb(42, 42, 42)
}
.overlay-green {
	background-color:rgb(20, 184, 102)
}

.card:hover .overlay-title{
	opacity:1;
	top: 40%;
}

.overlay-title{
	width:80%;
	color:white;
	font-size: 40px;
	font-weight: bold;
	left: 50%;
	top:20%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align:left;
	vertical-align:top;
}

.card:hover .overlay-text {
	opacity: 1;
	top: 0%;
}

.overlay-text{
	position: absolute;
	width:80%;
	transition: .5s ease;
	color:rgb(255, 255, 255);
	font-size: 22px;
	font-weight: 300;

	top:90%;
	left:50%;
	text-align: left;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

.text-bound{
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 50%;
}

.about-container {
	margin: 1vw 8vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.about-picture {
	flex: 1;
}
.about-text {
	flex: 1.2; 
	text-indent: 2em;
}

.profile-picture {
	width: 70%;
	border-radius: 1.5vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.back-button {
	color: rgb(139, 139, 139);
	transition: 0.1s;
	text-decoration: none;
	margin: 0vw -10vw;
	text-align: center;
	transition: 0.2s;
}
.back-button:hover {
	color: #333;
}

.project-title-wrapper {
	display: block;
}

.project-title {
	font-size:40px;
}

.project-github-icon {
	font-size: 40px;
	float: right;
	color: rgb(139, 139, 139);
	transition: 0.3s;
	text-decoration: none;
}
.project-github-icon:hover {
	color: #363636
}

.subtitle {
	display: block;
	font-size:24px;
	font-weight: 500;
}
.project-body {
	margin: 3vw 20vw;
}

.video-container {
	position: relative;
	display: block;
	margin: 4vw 0vw;
	width: 100%;
	padding-top: 56.25%;
}
.project-video {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.project-image {
	width: 100%
}
.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.collapsible {
	cursor: pointer;
	border: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	background: none;
	margin-top: 0.5em
}
.active, .collapsible:hover .coll-label{
	color: #363636 !important
}

.coll-label {
	color: #888;
	transition: 0.5s;
	margin-left: 1em;
}

.coll-arrow::before {
	margin-top: -0.85em;
	margin-left: 0.2em;
	position: absolute;
	transform-origin: 50% 50%;
	transition: transform .5s;
}
.coll-arrow.down::before {
	
	transform: rotate(90deg);
	transition: transform .25s;
}
.collapsible-content {
	display: block;
	overflow: hidden;
	max-height: 0;
	transition: 0.5s ease-in-out;
	opacity: 0%;
}

.fruit-link-1 {
	font-weight: 500;
	color:rgb(0, 0, 0)
}
.fruit-link-1:hover {
	color:rgb(20, 184, 102)
}
.fruit-link-2 {
	font-weight: 500;
	color:rgb(0, 0, 0)
}
.fruit-link-2:hover {
	color:rgb(13, 184, 236)
}

.footer {
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	margin: 2vw 0vw;
	text-align: center;
}

.footer-element {
	margin: 0em 3em;
	color: rgb(139, 139, 139);
	transition: 0.1s;
	text-decoration: none;
}
.footer-links {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 1vw
}

.footer-element:hover {
	color: #333;
}

.footer-credit {
	color: rgb(139, 139, 139);
}